<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Steve Hollaar</title>
    <% include includes/headerfiles.ejs %>
  </head>
  <body>
    <header class="container-fluid">
        <div class="title-container container-fluid">
            <h1 class="title"><span>s</span>teve <span>h</span>ollaar</h1>
        </div>

        <nav class="row">
            <div class="page col-sm-2 col-sm-offset-3 dashboard <%= page === 'dashboard' ? 'active': '' %>">
                <h2>dashboard</h2>
            </div>
            <div class="page col-sm-2 hacks <%= page === 'hacks' ? 'active': '' %>">
                <h2>hacks</h2>
            </div>
            <div class="page col-sm-2 resume <%= page === 'resume' ? 'active': '' %>">
                <h2>résumé</h2>
            </div>
        </nav>

        <div class="page-description-container row">
            <div class="col-sm-6 col-sm-offset-3 page-description dashboard <%= page === 'dashboard' ? 'active': '' %>">
                <p>Dashboard info here!</p>
    <!--             <div class="timeframe">
                    <button data-timeframe="day" class="active">Day</button>
                    <button data-timeframe="week">Week</button>
                    <button data-timeframe="month">Month</button>
                    <button data-timeframe="year">Year</button>
                </div> -->
            </div>
            <div class="col-sm-6 col-sm-offset-3 page-description hacks <%= page === 'hacks' ? 'active': '' %>">
                <p>Hacks info here!</p>
            </div>
            <div class="col-sm-6 col-sm-offset-3 page-description resume <%= page === 'resume' ? 'active': '' %>">
                <p>Resume info here. Some descriptions are longer than others.
                Resume info here. Some descriptions are longer than others.
                Resume info here. Some descriptions are longer than others.
                Resume info here. Some descriptions are longer than others.
                Resume info here. Some descriptions are longer than others.
                Resume info here. Some descriptions are longer than others.</p>
            </div>
        </div>
    </header>
    <main>
        <section class="dashboard"></section>
        <section class="hacks"></section>
        <section class="resume"></section>
    </main>
  </body>
</html>